* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}
h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #121212;
}
h2 {
  font-size: 45px;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.row {
  display: flex;
}
.half-width {
  width: 48%;
  padding: 0 1%;
}
.text-center {
  text-align: center;
}

/* hero part start */
.hero {
  min-height: 100vh;
  background-image: url("images/donation13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-text {
  margin: 0 auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.hero-text h1 {
  margin-bottom: 20px;
  font-size: 65px;
  color: #ffffff;
}
.hero-text p {
  color: #ffffff;
  margin-bottom: 20px;
}
.btn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 15px 25px;
  color: #ffffff;
  background-color: #ff5959;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
/* hero part end */
